/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  /* margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; */
  box-sizing: border-box;
}

body {

  margin: 0;
    padding: 150;
    height: 120vh;
    background-image: url(./bc.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    overflow: auto;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.navbar img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.navbar-text {
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
}
ul.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
ul.navbar-list li {
  margin-right: 10px;
}
ul.navbar-list li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.navbar-list li a:hover {
  background-color: #ddd;
  color: #333;
}

.hero-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

a.hero-pro-text {
background-color: #460294;
color: #fff;
padding: 10px 18px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 5px;
font-family: Arial, sans-serif;
border-radius: 160px;
}


.container-contact {
  max-width: 1000px;
  width: 100;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  
 
  
}

.container-contact .content {
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.container-contact .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;

}

.content .left-side .topic-text {
  font-size: 25px;
  font-weight: bold;
  color: #3e2093;
}


.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 18px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 20px;
  font-weight: 600;
  color: #3e2093;
}

.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #5029bc;
}

.input-double{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 950px) {
  .container-contact {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  .container-contact .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .container-contact {
    margin: 40px 0;
    height: 100%;
  }

  .container-contact .content {
    flex-direction: column-reverse;
  }

  .container-contact .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-contact .content .left-side::before {
    display: none;
  }

  .container-contact .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

.footer {
  text-align: center;
  margin-top: 100px;
  color: #fff;
  background-color:  rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.footer p {
  font-size: 14px;
}
.social-media-icons {
  margin-top: 20px;
}
.social-media-icons a {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
 
}
.icon {
  width: 24px;
  height: 24px;
  color: #fff;
}

/* /// */